/*body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}*/

:root {
  --backgroundColour: #1d1e21;
  --mainColour:#8d2523;
  --accentColour: #ff4537;
}

*{
  margin:0;
  padding: 0;
  font-family: "Roboto Mono", serif; /*font to use*/
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  flex-direction: row;
  overflow-y: hidden;
  background-color: var(--backgroundColour); 
  overflow-x: hidden; /* Prevent horizontal scroll */
}

body::-webkit-scrollbar { 
  display: none;
}

.displayText{
    color : var(--mainColour);
}

.underlineFade::after {
  content: "";
  display: block;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: center;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
    
.underlineFade:hover::after {
  transform: scaleX(0.7);
  opacity: 1;
}

#sidebar {
  background-color: var(--mainColour);
  width: 50px;
  height : 97%;
  margin: 5px 10px 5px 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
}

#chatlist {
  border: 3px solid var(--accentColour);
  border-radius: 20px;
  width: 30%;
  height : 97%;
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#chatlist::-webkit-scrollbar { 
  display: none;
}

#chatHistory {
  border: 3px solid var(--accentColour);
  border-radius: 20px;
  width: 65%;
  height : 94%;
  padding : 10px;
  margin : 5px 5px 5px 10px;
}

.input {
  border : 2px solid var(--accentColour);
  border-radius: 10px;
  background-color: var(--backgroundColour);
  text-align: center;
  color: var(--mainColour);
}

.button {
  background-color: var(--backgroundColour);
  border: 2px solid var(--accentColour);
  border-radius: 20px;
  cursor : pointer;
}

#searchForUserInput{
  margin: 10px auto;
  width : 85%;
  height: 30px;
}

#contactBanner {
  width : 80%;
  height : 50px;
  border: 2px solid var(--mainColour);
  border-radius: 20px;
  text-align: center;
  margin: 0px 5px;
}

#chat {
  display: flex;
  flex-direction: column;
  height: 80%;
  overflow-y: scroll;
}

#chat::-webkit-scrollbar { 
  display: none; 
}

.message {
  max-width: 50%;
  min-width: 60px;
  width: fit-content;
  border: 2px solid var(--mainColour);
  border-radius: 10px;
  padding: 5px;
  padding-bottom: 20px;
  margin: 5px;
  font-weight: 500;
  font-size: 15px;
  position: relative;
}

.messageIncoming {
  text-align: left;
  justify-content: flex-start;
}

.messageOutgoing {
  text-align: right;
  align-self: flex-end;
  border-color : var(--accentColour); 
}

#chatlistUL {
  list-style : none;
  height: 85%;
  overflow-y: scroll;
}

#chatlistUL::-webkit-scrollbar { 
  display: none;
}

.chatlistElement{
  text-align: center;
  border: 2px solid var(--mainColour);
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  cursor : pointer;
  color : var(--accentColour);
}

.sidebarElement {
  height: 15%;
  font-size : 30px;
  color : var(--backgroundColour);
  display: flex;
  justify-content: center;   
  align-items: center;   
  cursor : pointer;    
}

#messagingInput {
  display: flex;
  flex-direction: row;
  height: 70px;
}

#messagingInputFieldWrapper {
  position: relative;
  width: 75%; 
  height: 50px; 
  margin: auto 10px auto 5px; 
  flex-shrink: 0;
}

#messagingInputField {
  width: 100%;
  height: 100%;
  padding-bottom: 20px; 
  box-sizing: border-box;
  font-size: 15px;
  resize: none;
  text-align: center;
}

#charCount {
  position: absolute;
  bottom: 4px;
  right: 8px;
  font-size: 12px;
  color: var(--mainColour);
  pointer-events: none;
  background-color: var(--backgroundColour);
}


#messagingInputField::-webkit-scrollbar { 
  display: none; 
}

#sendMessageButton{
  width : 15%;
  margin : auto 5px;
  height : 50px;
  text-align: center;
  font-size: 20px;
}

/*Settings*/
#settingsDisplay{
  width : 94%;
  height : 97%;
  border: 3px solid var(--accentColour);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.settingsSection {
  width: 100%;
  margin-bottom: 20px;
}

.themeButton {
  width : 20%;
  padding : 5px 10px;
  margin : 5px;
  font-size: 15px;
  border-radius: 10px;
  border-color: var(--mainColour);
  color : var(--accentColour);
}

/*Key Display*/
#displayInfo {
  width : 94%;
  height : 97%;
  border: 3px solid var(--accentColour);
  border-radius: 20px;
}

#selfInfo {
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--mainColour);
  border-radius: 20px;
  margin : 5px;
  font-size: 10px;
}

#selfInfoHeader {
  text-decoration: underline;
  font-size: 30px;
}

#othersKeyDisplayArea {
  display: flex;
  flex-direction: row;
  height: 77%;
  border: 2px solid var(--mainColour);
  border-radius: 20px;
  margin : 5px;
  align-items: center;
  justify-content: center;
}

#otherUsersList {
  /*border: 2px solid var(--accentColour);
  border-radius: 20px; */
  width : 45%;
  height : 90%;
  padding : 10px;
  margin: 10px;
  text-align: center;
}

#otherUsersListUL {
  list-style: none;
  /*border: 2px solid var(--accentColour);
  border-radius: 20px; */
  height: 80%;
  overflow-y: scroll;
}

#otherUsersListUL::-webkit-scrollbar { 
  display: none;
}

.otherUsersListLi{
  border: 2px solid var(--mainColour);
  border-radius: 10px;
  margin : 3px;
  cursor: pointer;
  padding: 3px;
  color : var(--accentColour);
}

#otherUserOverview {
  /*border: 2px solid var(--accentColour);
  border-radius: 20px; */
  width : 45%;
  height : 90%;
  padding : 10px;
  margin: 10px;
}

#otherUserOverviewRecentMessagesHeader {
  text-align: center;
  margin-top: 20px;
  color: var(--accentColour);
}

#otherUserOverviewRecentMessages {
  border: 2px solid var(--accentColour);
  border-radius: 30px;
  height: 61%;
  overflow-y: scroll;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

#otherUserOverviewRecentMessages::-webkit-scrollbar { 
  display: none;
}
#otherUserOverviewDetails {
  height: 25%;
  word-wrap: break-word;
  margin-bottom: 3px;
}

.otherUserDisplayText {
  font-size: 20px;
  color : var(--mainColour);
}

.selfInfoText {
  color : var(--accentColour);
}

/*Switch Settings*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
  border: 2px solid var(--accentColour);
  border-radius: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--backgroundColour);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: var(--backgroundColour);
  -webkit-transition: .4s;
  transition: .4s;
}

input:not(:checked) + .slider:before {
  background-color: var(--accentColour);
}

input:checked + .slider {
  background-color: var(--accentColour);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accentColour);
}

input:checked + .slider:before {
  -webkit-transform: translateX(42px);
  -ms-transform: translateX(42px);
  transform: translateX(42px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.settingsFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switchDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 10px 20px; /* optional spacing */
}

.settingsLabel {
  margin-right: 20px; /* space between label and switch */
  font-size: 20px;
}

.timestamp{
  position: absolute;
  bottom: 4px;
  right: 8px;
  font-size: 12px;
  color: var(--mainColour);
  pointer-events: none;
  background-color: var(--backgroundColour);
}

#contactSessionBanner {
  display: flex;
  flex-direction: row;
  padding : 5px;
  justify-content: center;
  align-items: center;
}

#StartSessionButton {
  height : 50px;
  border-color: var(--mainColour);
  width: 20%;
  margin: 0px 5px;
}

#AddUserZone {
  margin: 5px;
  height: 11%;
  font-size: 20px;
  border : 2px solid var(--mainColour);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
}

#addUserHostPortLine{
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.addUserHostPortElement{
  margin : 5px;
  width : 50%;
}

#AddUserButton {
  margin : 5px;
  width : 50%;
  padding: 2px;
  height : 45%;
}

#AddUserButton:hover{
  font-weight: bold;
}

#uploadFileButton{
  width : 10%;
  height : 50px;
  display: flex;
  margin : auto 5px;
  font-size: 30px;
  padding: 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#fileInput {
 display: none;
}

#imageViewer {
  display: none; /*Goes flex when activated*/
  flex-direction: column;
  height: 80%;
  margin: 5px;
  justify-content: center; /* Horizontal */
  align-items: center;     /* Vertical */
  position: relative;
}

#imageViewer img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

#imageViewerReturnToMessages {
  position: absolute;
  top: 4px;
  left: 8px;
  font-size: 12px;
  color: var(--mainColour);
  background-color: var(--backgroundColour);
  width : 90px;
  padding : 5px;
  cursor : pointer;
}

#imageViewerDownload {
  position: absolute;
  top: 60px;
  left: 8px;
  font-size: 12px;
  color: var(--mainColour);
  background-color: var(--backgroundColour);
  width : 90px;
  padding : 5px;
  cursor : pointer;
}

#shutdownIcon {
  margin-top: auto;
}

.deleteMessageButton{
  position: absolute;
  right: 105%;
  font-size: 12px;
  color: var(--mainColour);
  background-color: var(--backgroundColour);
  width : 90px;
  padding : 5px;
  cursor : pointer;
  display: inline-block;
}

.delAll {
  bottom : 52%;
}

.delMe {
  top : 52%;
}

.chatTimestamp{
  text-align: center;
  border : 2px solid var(--accentColour);
  border-radius: 10px;
  min-width: 15%;
  justify-content: center;
  margin: 0 auto;
  padding: 5px;
  color: var(--accentColour);
}

#dateFormat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 10px 20px; 
  position : relative;
}

.dropbtn {
  background-color: var(--backgroundColour);
  border: 2px solid var(--accentColour);
  border-radius: 20px;
  color: var(--accentColour);
  padding: 10px 16px;
  font-size: 16px;
}

#dateFormatDropdown {
  display: none;
  /*position: absolute; */
  background-color: var(--backgroundColour);
  min-width: 160px;
  border-radius: 4px;
  z-index: 1;
  max-height: 100px;
  overflow-y: auto;
  position : absolute;
  left : 75%;
  top : 100%;
}

#dateFormatDropdown::-webkit-scrollbar { 
  display: none;
}

.dropdownElement {
  border: 2px solid var(--accentColour);
  border-radius: 10px;
  margin : 3px;
  padding: 3px;
  cursor: pointer;
  transition: 0.2s;
}

.dropdownElement:hover {
  background-color: var(--accentColour);
  color: var(--backgroundColour);
  transition: 0.2s;
}

#messageSettingBar{
  position: absolute;
  bottom : 110%;
  display : flex;
  flex-direction: row;
  width : 100%;
  align-items: center;
}

.messageSettingButton{
  padding: 5px;
  transition: 0.5s;
  margin : 0px 5px;
}

.inverseAccent{
  color : var(--backgroundColour);
  background-color: var(--accentColour);
}

.messageSettingsDiv {
  border: 2px solid var(--accentColour);
  border-radius: 10px;
  max-width : 35%;
  margin: 0px 5px;
  max-height : 100%;
  background-color: var(--backgroundColour);
  text-align: center;
  transition: max-height 0.5s ease, max-width 0.5s ease, padding 0.5s ease;
  padding : 5px;
  display: block;
  color : var(--accentColour);
}

.messageSettingsInput {
  color : var(--accentColour);
  background-color: var(--backgroundColour);
  border : none;
  max-width : 60%;
   transition: max-width 0.3s ease, padding 0.3s ease;
}

.messageSettingsDiv.collapsed {
  max-height: 0;
  max-width: 0%;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, max-width 0.5s ease, padding 0.5s ease;
}

.hidden {
  display: none;
}